{% extends 'base.html.twig' %}

{% block title %}
{% if structure == "etablissement scolaire" %}
		<h1>Nos établissements scolaires</h1>
	{% else %}
    <h1>Nos {{ structure }}s</h1>
	{% endif %}
{% endblock %}

{% block body %}
	{% if structure == "etablissement scolaire" %}
		<h1>Nos établissements scolaires</h1>
	{% else %}
    <h1>Nos {{ structure }}s</h1>
	{% endif %}
        {% for structure in structures %}
                <article>
                    <h2>{{ structure.organizationType }} {{ structure.schoolType }} {{ structure.name }}</h2>
                    {% if structure.logoName is not null %}
                    <p><img src="{{ vich_uploader_asset(structure, 'logoFile') }}" alt="image du logo" width="100" /></p>
                    {% endif %}
                    <p>{{ structure.summar }}</p>
                    <p>
                        <a href="{{ path('structure_showpublic', {'structure': structure.organizationType, 'id': structure.id }) }}">En savoir plus</a>
                    </p>
                </article>
		{% endfor %}
{% endblock %}
