{% extends 'admin/base.html.twig' %}

{% block title %}Structure index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="text-center">
            <h1>Structure</h1>
        </div>

        <div class="mt-5">
            <a href="{{ path('structure_new') }}" class="btn btn-secondary" role="button" aria-pressed="true">Ajouter une structure</a>
        </div>

        <div class="mt-4">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Site internet</th>
                        <th>Créé le </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for structure in structures %}
                    <tr class="text-center">
                        <td>{{ structure.name }}</td>
                        <td>{{ structure.postaladdress }}</td>
                        <td>{{ structure.phone }}</td>
                        <td>{{ structure.email }}</td>
                        <td>{{ structure.website }}</td>
                        <td>{{ structure.createdat }}</td>
                        <td class="d-flex justify-content-center">
                            <a href="{{ path('structure_show', {'id': structure.id}) }}" class="btn btn-see mr-2" role="button" aria-pressed="true">Voir</a>
                            <a href="{{ path('structure_edit', {'id': structure.id}) }}" class="btn btn-secondary mr-2" role="button" aria-pressed="true">Modifier</a>
                            {{ include('structure/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
