{% extends 'base.html.twig' %}

{% block title %}Nos {{ structure }}s{% endblock %}

{% block body %}
    <h1>Nos {{ structure }}s</h1>
        {% for structure in structures %}
                <article>
                    <h2>{{ structure.organizationType }} {{ structure.schoolType }} {{ structure.name }}</h2>
                    {% if structure.logo is not null %}
                    <p><img src="{{ structure.logo }}" alt="Logo" width="300"/></p>
                    {% endif %}
                    <p>{{ structure.summar }}</p>
                    <p>
                        <a href="{{ path('structure_showpublic', {'structure': structure.organizationType, 'id': structure.id }) }}">En savoir plus</a>
                    </p>
                </article>
		{% endfor %}
{% endblock %}
