{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des {{ structure }}s{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">
        <div class="text-center">
            <h1>Structures : <strong>{{ structure }}</strong></h1>
        </div>

        <div class="d-flex mt-5 justify-content-center justify-content-md-start">
            <a href="{{ path('structure_new', {'structure': structure}) }}" class="btn btn-secondary" role="button" aria-pressed="true">Ajouter une structure</a>
        </div>

        <div class="mt-5 d-none d-md-block">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th>Site internet</th>
                        <th>Créée le </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for structure in structures %}
                    <tr class="text-center">
                        <td>{{ structure.schoolType }} {{ structure.name }}</td>
                        <td>{{ structure.postaladdress }}</td>
                        <td>{{ structure.phone }}</td>
                        <td>{{ structure.email }}</td>
                        <td>{{ structure.website }}</td>
                        <td>{{ structure.createdat ? structure.createdat|date('d/m/Y à H:i') : '' }}</td>
                        <td class="d-flex justify-content-center">
                            <a href="{{ path('structure_show', {'id': structure.id}) }}" class="btn btn-see mr-2" role="button" aria-pressed="true">Voir</a>
                            <a href="{{ path('structure_edit', {'id': structure.id}) }}" class="btn btn-secondary mr-2" role="button" aria-pressed="true">Modifier</a>
                            {{ include('structure/_delete_form_index.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="d-block d-sm-none mt-5">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Nom des structures</th>
                    </tr>
                </thead>
                <tbody>
                {% for structure in structures %}
                    <tr>
                        <td>
                            <a href="{{ path('structure_show', {'id': structure.id}) }}">{{ structure.name }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucune structure enregistrée.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
