{% extends 'admin/base.html.twig' %}

{% block title %}{{ infrastructure.organizationType }} {{ infrastructure.name }}{% endblock %}

{% block body %}
<<<<<<< HEAD
    <h1>{{ infrastructure.organizationType }} – {{ infrastructure.name }}</h1>
	{% if infrastructure.organizationType == "Etablissement scolaire" %}
	<p>Type : {{ infrastructure.schoolType }}</p>
	{% endif %}
                <p>Nom : {{ infrastructure.name }}</p>
				{% if infrastructure.logoName is not null %}
                <p><img src="{{ vich_uploader_asset(structure, 'logoFile') }}" alt="image du logo" width="200"/></p>
				{% endif %}
				{% if infrastructure.summar is not null %}
				<h2>Résumé</h2>
				<p>{{ infrastructure.summar }}</p>
				{% endif %}
				{% if infrastructure.content is not null %}
                <h2>Description</h2>
				<p>{{ infrastructure.content }}</p>
				{% endif %}
				{% if infrastructure.postalAddress is not null %}
                <p>Adresse postale : {{ infrastructure.postaladdress }}</p>
				{% endif %}
				{% if infrastructure.phone is not null %}
                <p>N° téléphone : {{ infrastructure.phone }}</p>
				{% endif %}
				{% if infrastructure.email is not null %}
                <p>Adresse email : {{ infrastructure.email }}</p>
				{% endif %}
				{% if infrastructure.website is not null %}
                <p>Site internet : {{ infrastructure.website }}</p>
				{% endif %}
    <p><a href="{{ path('structure_edit', {'id': infrastructure.id}) }}">Modifier</a></p>
{% endblock %}
=======
    <section>
        <a href="{{ path('structure_index', {'structure': infrastructure.organizationType}) }}" class="btn btn-delete mx-3 my-3" role="button" aria-pressed="true">Retour</a>
        
        <div class="container">
            <div class="text-center">
                <h1>{{ infrastructure.name }}</h1>
            </div>

            <div class="mt-5">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Logo</th>
                            <td>{{ infrastructure.logoName }}</br>{{ infrastructure.logoFile }}</td>
                        </tr>
                        <tr>
                            <th>Résumé</th>
                            <td>{{ infrastructure.summar }}</td>
                        </tr>
                        <tr>
                            <th>Contenu</th>
                            <td>{{ infrastructure.content }}</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ infrastructure.postaladdress }}</td>
                        </tr>
                        <tr>
                            <th>Numéro de téléphone</th>
                            <td>{{ infrastructure.phone }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ infrastructure.email }}</td>
                        </tr>
                        <tr>
                            <th>Site internet</th>
                            <td>{{ infrastructure.website }}</td>
                        </tr>
                        <tr>
                            <th>Créée le</th>
                            <td>{{ infrastructure.createdat ? infrastructure.createdat|date('d/m/Y à H:i') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-end mb-2">
                <a href="{{ path('structure_edit', {'id': infrastructure.id}) }}" class="btn btn-secondary mr-2" role="button" aria-pressed="true">Modifier</a>
                {{ include('structure/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
>>>>>>> 6b32708d623df0d06bd32f8e9f07d2bc1676bf70
