{% extends 'base.html.twig' %}

{% block title %}{{ infrastructure.organizationType }} – {{ infrastructure.name }}{% endblock %}

{% block body %}
    <h1>{{ infrastructure.organizationType }} – {{ infrastructure.name }}</h1>
	{% if infrastructure.organizationType == "établissements scolaire" %}
	<p>Type : {{ infrastructure.schoolType }}</p>
	{% endif %}
                <p>Nom : {{ infrastructure.name }}</p>
				{% if infrastructure.logoName is not null %}
                <p><img src="{{ vich_uploader_asset(structure, 'logoFile') }}" alt="photo du logo" width="100" /></p>
				{% endif %}
				{% if infrastructure.summar is not null %}
				<h2>Résumé</h2>
				<p>{{ infrastructure.summar }}</p>
				{% endif %}
				{% if infrastructure.content is not null %}
                <h2>Description</h2>
				<p>{{ infrastructure.content }}</p>
				{% endif %}
				{% if infrastructure.postalAddress is not null %}
                <p>Adresse postale : {{ infrastructure.postaladdress }}</p>
				{% endif %}
				{% if infrastructure.phone is not null %}
                <p>N° téléphone : {{ infrastructure.phone }}</p>
				{% endif %}
				{% if infrastructure.email is not null %}
                <p>Adresse email : {{ infrastructure.email }}</p>
				{% endif %}
				{% if infrastructure.website is not null %}
                <p>Site internet : {{ infrastructure.website }}</p>
				{% endif %}
{% endblock %}