{% extends 'base.html.twig' %}

{% block title %}{{ infrastructure.organizationType }} {{ infrastructure.name }}{% endblock %}

{% block body %}
    <h1>{{ infrastructure.organizationType }} – {{ infrastructure.name }}</h1>
	{% if infrastructure.organizationType == "Établissements scolaire" %}
	<p>Type : {{ structure.schoolType }}</p>
	{% endif %}
                <p>Nom : {{ infrastructure.name }}</p>
				{% if infrastructure.logo is not null %}
                <p>{{ infrastructure.logo }}</p>
				{% endif %}
				{% if infrastructure.summary is not null %}
				<h2>Résumé</h2>
				<p>{{ infrastructure.summar }}</p>
				{% endif %}
				{% if infrastructure.content is not null %}
                <h2>Description</h2>
				<p>{{ infrastructure.content }}</p>
				{% endif %}
				{% if infrastructure.postalAddress is not null %}
                <p>Adresse postale : {{ infrastructure.postaladdress }}</p>
				{% endif %}
				{% if infrastructure.phone is not null %}
                <p>N° téléphone : {{ infrastructure.phone }}</p>
				{% endif %}
				{% if infrastructure.email is not null %}
                <p>Adresse email : {{ infrastructure.email }}</p>
				{% endif %}
				{% if infrastructure.website is not null %}
                <p>Site internet : {{ infrastructure.website }}</p>
				{% endif %}
    <p><a href="{{ path('structure_edit', {'structure': infrastructure.organizationType, 'id': infrastructure.id}) }}">Modifier</a></p>
{% endblock %}