{% extends 'admin/base.html.twig' %}

{% block title %}Structure{% endblock %}

{% block body %}
    <section>
        <a href="{{ path('article_index') }}" class="btn btn-outline-danger mx-3 my-3" role="button" aria-pressed="true">Retour</a>
        
        <div class="container">
            <div class="text-center">
                <h1>Structure</h1>
            </div>

            <div class="mt-5">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Type d'organisation</th>
                            <td>{{ structure.organizationType }}</td>
                        </tr>
                        <tr>
                            <th>Type d'établissement scolaire</th>
                            <td>{{ structure.schoolType }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ structure.name }}</td>
                        </tr>
                        <tr>
                            <th>Logo</th>
                            <td>{{ structure.logo }}</td>
                        </tr>
                        <tr>
                            <th>Résumé</th>
                            <td>{{ structure.summary }}</td>
                        </tr>
                        <tr>
                            <th>Contenu</th>
                            <td>{{ structure.content }}</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ structure.postaladdress }}</td>
                        </tr>
                        <tr>
                            <th>Numéro de téléphone</th>
                            <td>{{ structure.phone }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ structure.email }}</td>
                        </tr>
                        <tr>
                            <th>Site internet</th>
                            <td>{{ structure.website }}</td>
                        </tr>
                        <tr>
                            <th>Créé le</th>
                            <td>{{ structure.createdat }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-end">
                <a href="{{ path('structure_edit', {'id': structure.id}) }}" class="btn btn-outline-info mr-2" role="button" aria-pressed="true">Modifier</a>
                {{ include('structure/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
