{% extends 'admin/base.html.twig' %}

{% block title %}{{ infrastructure.organizationType }} {{ infrastructure.name }}{% endblock %}

{% block body %}
    <section>
        <a href="{{ path('structure_index', {'structure': infrastructure.organizationType}) }}" class="btn btn-delete mx-3 my-3" role="button" aria-pressed="true">Retour</a>
        
        <div class="container">
            <div class="text-center">
                <h1>{{ infrastructure.schoolType }} {{ infrastructure.name }}</h1>
            </div>

            <div class="mt-5">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Logo</th>
                            <td><img src="{{ vich_uploader_asset(infrastructure, 'logoFile') }}" width="150"/></td>
                        </tr>
                        <tr>
                            <th>Résumé</th>
                            <td>{{ infrastructure.summar }}</td>
                        </tr>
                        <tr>
                            <th>Contenu</th>
                            <td>{{ infrastructure.content }}</td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td>{{ infrastructure.postaladdress }}</td>
                        </tr>
                        <tr>
                            <th>Numéro de téléphone</th>
                            <td>{{ infrastructure.phone }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ infrastructure.email }}</td>
                        </tr>
                        <tr>
                            <th>Site internet</th>
                            <td>{{ infrastructure.website }}</td>
                        </tr>
                        <tr>
                            <th>Créée le</th>
                            <td>{{ infrastructure.createdat ? infrastructure.createdat|date('d/m/Y à H:i') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-end mb-2">
                <a href="{{ path('structure_edit', {'id': infrastructure.id}) }}" class="btn btn-secondary mr-2" role="button" aria-pressed="true">Modifier</a>
                {{ include('structure/_delete_form.html.twig') }}
            </div>
        </div>
    </section>
{% endblock %}
