{{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
    {{ form_widget(form) }}
    <button class="btn btn-warning">
        {{ town_hall.id ? 'Modifier la mairie' : 'Créer la mairie' }}
    </button>
{{ form_end(form) }}
{#{{ button_label|default('Save') }}#}