{% extends 'base.html.twig' %}

{% block title %}TownHall index{% endblock %}

{% block body %}
    <h1>TownHall index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Logo</th>
                <th>Story</th>
                <th>Summary</th>
                <th>Content</th>
                <th>Postaladdress</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Website</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>NameMayor</th>
                <th>PhotoMayor</th>
                <th>TownHallTeam</th>
                <th>UpdateAt</th>
                <th>image</th>
                <th>photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for town_hall in town_halls %}
            <tr>
                <td>{{ town_hall.id }}</td>
                <td>{{ town_hall.name }}</td>
                <td>{{ town_hall.logo }}</td>
                <td>{{ town_hall.story }}</td>
                <td>{{ town_hall.summary }}</td>
                <td>{{ town_hall.content }}</td>
                <td>{{ town_hall.postaladdress }}</td>
                <td>{{ town_hall.phone }}</td>
                <td>{{ town_hall.email }}</td>
                <td>{{ town_hall.website }}</td>
                <td>{{ town_hall.latitude }}</td>
                <td>{{ town_hall.longitude }}</td>
                <td>{{ town_hall.nameMayor }}</td>
                <td>{{ town_hall.photoMayor }}</td>
                <td>{{ town_hall.townHallTeam }}</td>
                <td>{{ town_hall.updateAt ? town_hall.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ town_hall.imageName }}</td>
                <td><img src="{{ vich_uploader_asset(town_hall, 'imageFile') }}" alt="" /></td>
                <td>
                    <a href="{{ path('town_hall_show', {'id': town_hall.id}) }}">show</a>
                    <a href="{{ path('town_hall_edit', {'id': town_hall.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('town_hall_new') }}">Create new</a>
{% endblock %}
