{% extends 'base.html.twig' %}

{% block title %}Mairie {{ town_hall.name }}{% endblock %}

{% block body %}
	{% if not town_hall %}
	<p>Aucune information enregistrée.</p>
{% else %}
	<h1>{{ town_hall.name }}</h1>
	Photo du logo : <img src="{{ vich_uploader_asset(town_hall, 'logoFile') }}" alt="image du logo de la ville" />
	<h2>Coordonnées</h2>
	<ul>
	<li>Adresse postale : {{ town_hall.postaladdress }}</li>
   <li>N° téléphone : {{ town_hall.phone }}</li>
   <li>Adresse email : {{ town_hall.email }}</li>
   <li>Site internet : {{ town_hall.website }}</li>
  </ul>
  <h2>Équipe municipale</h2>
  <ul>
  {% for user in users %}
	   <li>{{ user.firstname }} {{ user.lastname }}</li>
  {% endfor %}
  <hr>
  </ul>
  <h2>Le maire</h2>
  <ul>
	<li>{{ town_hall.nameMayor }}</li>
	{% if town_hall.imageName is not defined %}
  <li>Photo du maire :<img src="{{ vich_uploader_asset(town_hall, 'imageFile') }}" alt="photo du maire" /></li>
{% endif %}
<li>Photo du maire :<img src="{{ vich_uploader_asset(town_hall, 'imageFile') }}" alt="photo du maire" /></li>
  <hr>
  </ul>
  <h2>Résumé</h2>
  <p>{{ town_hall.summar }}</p>
  <hr>
  <h2>Contenu</h2>
  <p>{{ town_hall.content }}</p>
{% endif %}
{% endblock %}