{% extends 'base.html.twig' %}

{% block title %}Informations sur la mairie{% endblock %}

{% block body %}
    <h1>Informations sur la mairie</h1>
{% if not town_hall %}
<p><a href="{{ path('townhall_new') }}">Compléter les informations</a></p>
{% else %}
	<ul>
   <li>Nom : {{ town_hall.name }}</li>
   <li>Logo :  <img src="{{ vich_uploader_asset(town_hall, 'logoFile') }}" alt="image du logo de la ville" /></li>
   <li>Adresse postale : {{ town_hall.postaladdress }}</li>
   <li>N° téléphone : {{ town_hall.phone }}</li>
   <li>Adresse email : {{ town_hall.email }}</li>
   <li>Site internet : {{ town_hall.website }}</li>
   <li>Latitude : {{ town_hall.latitude }}</li>
   <li>Longitude : {{ town_hall.longitude }}</li>
  </ul>
  <h2>Équipe municipale</h2>
  <ul>
	<li>Prénom / nom du maire : {{ town_hall.nameMayor }}</li>
	<li>Photo du maire :<img src="{{ vich_uploader_asset(town_hall, 'imageFile') }}" alt="phot du maire" /></li>
	{#<li>Équipe municipale : {{ town_hall.townHallTeam }}</li>#}
  </ul>
  <h2>Histoire</h2>
  <p>{{ town_hall.story }}</p>
  <h2>Résumé</h2>
  <p>{{ town_hall.summar }}</p>
  <h2>Contenu</h2>
  <p>{{ town_hall.content }}</p>
  <p>Dernière modification : {{ town_hall.updateAt ? town_hall.updateAt|date('d/m/Y H:i:s') : '' }}</p>
  <p><a href="{{ path('townhall_edit', {'id': town_hall.id}) }}">Modifier</a>
  {% endif %}
{% endblock %}