{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <h1>Nous contacter</h1>
	<ul>
		<li>Adresse postale : {{ townhall.postaladdress }}</li>
   <li>N° téléphone : {{ townhall.phone }}</li>
   <li>Adresse email : {{ townhall.email }}</li>
   <li>Site internet : {{ townhall.website }}</li>
	</ul>
    {{ include('message/_form.html.twig') }}
{% endblock %}