{% extends 'base.html.twig' %}

{% block title %}Message n°{{ message.id }} – {{ message.object }}{% endblock %}

{% block body %}
	<h1>Message n°{{ message.id }}</h1>
	<p>Envoyé par : <a href="{{ message.email }}">{{ message.email }}</a></p>
	<p>Le {{ message.receivedAt ? message.receivedAt|date('d/m/Y') : '' }} à {{ message.receivedAt ? message.receivedAt|date('H:i') : '' }}</p>
	<p>Statut : {{ message.status }}</p>
	<p><a href="{{ path('message_status', {'id': message.id}) }}">Changer le statut</a></p>
	<p>Objet : {{ message.object }}</p>
	<h2>Contenu :</h2>
	<p>{{ message.content }}</p>
	<p><a href="{{ message.email }}">Répondre</a></p>
	<hr>
	<p><a href="{{ path('message_index') }}">Retour à la boîte de messagerie</a></p>
{% endblock %}