{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ message.id }}</td>
            </tr>
            <tr>
                <th>Object</th>
                <td>{{ message.object }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ message.email }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ message.status }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ message.content }}</td>
            </tr>
            <tr>
                <th>Accept</th>
                <td>{{ message.accept ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ReceivedAt</th>
                <td>{{ message.receivedAt ? message.receivedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('message_index') }}">back to list</a>

    <a href="{{ path('message_edit', {'id': message.id}) }}">edit</a>

    {{ include('message/_delete_form.html.twig') }}
{% endblock %}
