{% extends 'base.html.twig' %}

{% block title %}Nos actualités{% endblock %}

{% block body %}
    <h1>Nos actualités</h1>
	<ul>
		{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<p>Le {{ article.publishedat ? article.publishedat|date('d/m/Y à H:i') : '' }}</p>
				<p><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="photo de l'article" width="300"/></p>
				<p>Catégorie : {{ article.category }}</p>
				<p>{{ article.summar }}</p>
				<p><a href="{{ path('article_showpublic', {'id': article.id}) }}">Lire la suite</a></p>
			</article>
		{% endfor %}
	</ul>

{% endblock %}	