{% extends 'admin/base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <section>
        <a href="{{ path('article_index') }}" class="btn btn-delete mx-3 my-3" role="button" aria-pressed="true">Retour</a>

        <main role="main" class="container">
            <div class="row">
                <div class="col-md-12 blog-main">
                    <div class="blog-post">
                        <div class="text-center">
                            <h2>{{ article.title }}</h2>
                        </div>
                        <p class="blog-post-meta">
                            Fait le {{ article.publishedat ? article.publishedat|date('d/m/Y à H:i') : '' }} (catégorie : {{ article.category }})
                        </p>
                        <hr> 
                        <p>
                        {{ article.summar }}
                        </p>  
                        {% if article.imageFile is defined %}
                            <img src="{{ vich_uploader_asset(article, 'imageFile') }}" width="200"/>
                        {% endif %}
                        <p class="mt-2">
                            {{ article.content }}
                        </p>
                        <p>
                            {{ article.imageName }}
                        </p>
                        <div class="d-flex justify-content-end">
                            <a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-secondary mr-2" role="button" aria-pressed="true">Modifier</a>
                            {{ include('article/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
{% endblock %}
