{% extends 'base.html.twig' %}

{% block title %}Article «{{ article.title }}»{% endblock %}

{% block body %}    
    <h1>{{ article.title }}</h1>
	<ul>
		<li>Publié le {{ article.publishedat ? article.publishedat|date('d/m/Y à H:i') : '' }}</li>
		<li>Catégorie : {{ article.category }}</li>
	</ul>
	<h2>Résumé</h2>
		<p>{{ article.image }}</p>
		<p>{{ article.summary }}</p>
	<h2>Texte complet</h2>
	<p>{{ article.content }}</p>
	<p><a href="{{ path('article_indexpublic') }}">Retour à la page «nos actualités»</a></p>
{% endblock %}