{% extends 'base.html.twig' %}

{% block title %}Article n°{{ article.id }}
	{{ article.title }}
{% endblock %}

{% block body %}
	<h1>Article n°{{ article.id }}
		{{ article.title }}</h1>
	<ul>
		<li>Titre :
			{{ article.title }}</li>
		<li>Publié le
			{{ article.publishedat ? article.publishedat|date('d/m/Y à H:i') : '' }}</li>
		<li>Catégorie :
			{{ article.category }}</li>
	</ul>
	<h2>Résumé</h2>
	<p>{{ article.summar }}</p>
	{% if article.imageName is not null %}
		<p><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="photo de l'article" width="200"/></p>
	{% endif %}
	<h2>Contenu</h2>
	<p>{{ article.content }}</p>
	<nav role="navigation" aria-label="Menu secondaire">
		<ul>
			<li>
				<a href="{{ path('article_index') }}">Retour à la liste des articles</a>
			</li>
			<li>
				<a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a>
			</li>
			<li><a href="{{ path('article_delete', {'id': article.id}) }}">Supprimer</a></li>
		</ul>
	</nav>
{% endblock %}
