{% extends 'admin/base.html.twig' %}

{% block title %}Liste des comptes utilisateurs{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center">
            <h1>Liste des comptes utilisateurs</h1>
        </div>

        <div class="mt-5">
            <a href="{{ path('user_new') }}" class="btn btn-secondary" role="button" aria-pressed="true">Ajouter un compte utilisateur</a>
        </div>

        <div class="mt-5">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Adresse email</th>
                        <th>N° téléphone</th>
                        <th>Profil</th>
                        <th>Créé</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        <td class="text-center">{{ user.createdat ? user.createdat|date('d/m/Y H:i') : '' }}</td>
                        <td class="d-flex">
                            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-secondary mr-2" role="button" aria-pressed="true">Modifier</a>
                            {{ include('user/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">Aucun compte utilisateur enregistré.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
