{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <h1>Mon compte</h1>
	<ul>
		<li>Nom : {{ user.lastname }}</li>
		<li>Prénom : {{ user.firstname }}</li>
		<li>Phone : {{ user.phone }}</li>
		<li>Adresse email : {{ user.email }}</li>
		<li>Profil : {{ user.roles ? user.roles|json_encode : '' }}</li>
		<li>Créé le {{ user.createdat ? user.createdat|date('d/m/Y à H:i') : '' }}</li>
	</ul>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('user_edit', {'id': app.user.id}) }}">Modifier</a>
		{{ include('user/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}